@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

// h1 {}

h2 {
  font-size: var.$heading-size-small;

  @include mix.mobile-styles {
    font-size: var.$font-size-bigger;
  }
}

// h3 {}

p {
  font-size: var.$font-size-medium;

  @include mix.mobile-styles {
    font-size: var.$font-size-base;
  }
}

// .btn {}
