/* Basic font styling */
body {
  font-family: "Your Desired Font", sans-serif;
}

.footer {
  background-color: #f4f4f4;
}

.footer-hover-effect:hover {
  text-decoration: underline !important;
}

.footer-section {
  flex: 1;
}

.footer-icon-box {
  background-color: #ffc400;
  width: 30px;
  height: 30px;
}

.footer-icon-box:hover {
  cursor: pointer;
  background-color: #ffae00;
}
