/* Basic font styling */
body {
  font-family: "Your Desired Font", sans-serif;
}

.footer {
  background-color: #f4f4f4;
}

.footer-hover-effect:hover {
  text-decoration: underline !important;
}

.footer-section {
  flex: 1;
}

.footer-icon-box {
  background-color: #ffc400;
  width: 35px;
  height: 35px;
}

.footer-icon-box:hover {
  cursor: pointer;
  background-color: #ffae00;
}

.navbar {
  border-bottom: 3px solid rgb(235, 232, 232);
}

.navbar-nav img {
  width: 100px;
}
