/* Basic font styling */
body {
  font-family: "Your Desired Font", sans-serif;
}

.nav-link:hover {
  opacity: 100% !important;
}

.footer {
  background-color: #f4f4f4;
}

.footer-hover-effect:hover {
  text-decoration: underline !important;
}

.footer-section {
  flex: 1;
}

.footer-icon-box {
  width: 35px;
  height: 35px;
}

.footer-icon-box:hover {
  cursor: pointer;
  background-color: #cf9f1c !important;
}

.navbar {
  border-bottom: 3px solid rgb(235, 232, 232);
}

.navbar-nav img {
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-img-top {
  transition: transform 0.5s;
}

.card:hover .card-img-top {
  transform: scale(1.2);
}

.card:hover .card-body h5,
.card:hover .card-body p {
  text-decoration: underline;
}

.card:hover {
  border: 2px solid #ffc107;
}
